@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.ttf");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #141622;
  position: relative;
  overflow: hidden;
}

h1, h2, p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #354050;
}

#intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #141622;
  overflow: hidden;
}

#intro .headrest {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 300px;
}

#intro #loader {
  fill: #354050;
  width: 80px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 0;
}

#intro h1 {
  text-transform: uppercase;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 250px;
  color: #354050;
  text-align: center;
}

#intro h1#title-intro {
  opacity: 0;
}

#intro h1 span {
  display: inline-block;
}

#intro h1 span:not(:last-child) {
  margin-right: 5px;
}

#intro h1 span.is-space {
  width: 200px;
}

#homepage {
  position: relative;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

#homepage header#sidebar {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#homepage header#sidebar .header-main {
  padding: 5px 15px 15px 50px;
  position: relative;
}

#homepage header#sidebar .header-main h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 5px;
  color: #485c7a;
}

#homepage header#sidebar .header-main p {
  text-align: center;
  font-weight: 300;
  color: #485c7a;
}

#homepage header#sidebar #network-menu {
  position: absolute;
  right: 0;
  display: block;
  top: 50%;
  max-height: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-right: 20px;
}

#homepage header#sidebar #network-menu ul {
  position: relative;
}

#homepage header#sidebar #network-menu ul li {
  padding: 5px 10px;
  float: left;
  list-style: none;
  position: relative;
  height: 30px;
  line-height: 0;
  text-align: center;
  display: table;
}

#homepage header#sidebar #network-menu ul li a {
  display: table-cell;
  vertical-align: middle;
  font-size: 0;
}

#homepage header#sidebar #network-menu ul li a:before {
  display: block;
  font-family: 'icomoon';
  font-size: 20px;
  color: #485c7a;
}

#homepage header#sidebar #network-menu ul li a#fb:before {
  content: '\ea90';
}

#homepage header#sidebar #network-menu ul li a#insta:before {
  content: '\ea92';
}

#homepage header#sidebar #network-menu ul li a#artstation svg {
  height: 20px;
}
/*# sourceMappingURL=style.css.map */